body {
    margin: 0px;
    padding: 0px;
    background: red;
    /* background: linear-gradient(whitesmoke, white); */
}

header{
    width: 100vw;
    padding: 20px;
    background-color: darkcyan;
    height: 20vh;
    
    margin-right: 0;
}

.row{
    margin-left: 0px;
}

.profile-image {
    height: 100%;
    width:7%;
    background-image: url(../img/default.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    position: relative;
    border:2px solid black; 
    border-radius: 80px;
}

#rating .checked{
    color: orange;
    
}

footer{
    /* width: 100vw; */
    height: 50px;
    background-color: darkcyan;
    position: fixed;
    bottom: 0;
    left: 0;
    

}